@page {
	margin: 2mm;
	width: 5.8mm;
}

body {
	width: 5cm;
	font-family: "Source Sans Pro";
}

#alamat {
	font-size: 10px;
}

.center {
	text-align: center;
}

.grayscale {
	filter: grayscale(100%);
}

.logo {
	width: 2cm;
	height: 2cm;
}

.header,
.header-space,
.footer,
.footer-space {
	/* height: 1cm; */
}
.header {
	position: fixed;
	top: 0;
}
.footer {
	position: fixed;
	bottom: 0;
}

.small {
	font-size: 3px;
}
